// Import page-specific CSS files here.
@import "home";
@import "show";
@import "dashboard";


a {
  text-decoration: none;
  color: #393D3F;
   &:hover {
    color: #538083;
    text-decoration: none;
  }
}

