
  <!-- code a Hero / Banner section -->
  <div class="banner">
    <% if !user_signed_in? %>
      <div id="container">
       <a class="btn btn-secondary" href="/users/sign_in">Login/Signup</a>
      </div>
    <% end %>
    <div class="container">
      <h1>Tune up your life with Tune Exotic!</h1>
      <p>Exchange the best tunes</p>
      <a class="btn-primary" href="/tunes">Browse now!</a>
    </div>
  </div>

  <!-- code a "How it works" section -->
  <div class="container">
    <h2 class="text-center">How it works</h2>
    <div class="cards">

      <div class="card">
        <i class="icon fa fa-search" aria-hidden="true"></i>

        <img src="images/apply.svg" alt="">
        <h4>Find</h4>
        <p>Browse through our many tunes.</p>
      </div>

      <div class="card">
        <i class="icon fas fa-cloud-upload-alt"></i>
        <img src="images/learn.svg" alt="">
        <h4>Share</h4>
        <p>Upload and share your favourite tunes!</p>
      </div>

      <div class="card">
        <i class="icon fa fa-star" aria-hidden="true"></i>
        <img src="images/product.svg" alt="">
        <h4>Rate</h4>
        <p>Rate your favourite tunes and artists!</p>
      </div>
   </div>
  </div>

  <!-- code a footer -->
  <div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-github"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>

    </div>
  </div>

