<% @tunes.each do |tune| %>
  <div class="card">
    <h1><%= tune.name %></h1>
    <p><%= tune.description %> |
    <% if current_user %>
      <%= tune.url %>
    <% end %>
  </p>
  </div>
<% end %>
