<div class="show">
    <div class="container">
    <div class="card">
      <h1><%= @tune.name %></h1>
      <%= @tune.description %>
      <% if current_user %>
        <%= @tune.url %>
      <% end %>
     <%= link_to "Request now", tune_requests_path(@tune), method: :post, class: "btn btn-primary" %>


    </div>
  </div>
</div>
